body {
  background: #f4f6ff;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  direction: rtl;
}

header {
  background: #4a6cf7;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

button {
  background: #4a6cf7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #374fcc;
}