body {
  background: radial-gradient(circle, #000, #030a1a);
  color: #00ffcc;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 0;
}

button {
  margin: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #00ffcc, #0088ff);
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00ffcc;
}

#loginBox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

#profileBox {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255,255,255,0.1);
  padding: 10px 15px;
  border-radius: 10px;
  text-align: left;
}

canvas {
  display: block;
  margin: 0 auto;
  background: black;
}