<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <title>مار</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="game-wrap">
    <h2>بازی مار</h2>
    <div class="canvas-wrap small">
      <canvas id="snakeCanvas" width="400" height="400"></canvas>
    </div>
    <div class="controls">
      <a class="btn small" href="{{ url_for('index') }}">بازگشت</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='snake.js') }}"></script>
</body>
</html>